[submodule "Engine/ThirdParties/SimpleTests"]
	path = Engine/ThirdParties/SimpleTests
	url = https://github.com/nox282/SimpleTests
[submodule "Engine/ThirdParties/stb"]
	path = Engine/ThirdParties/stb
	url = https://github.com/nothings/stb
[submodule "Engine/ThirdParties/glm"]
	path = Engine/ThirdParties/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/ThirdParties/json"]
	path = Engine/ThirdParties/json
	url = https://github.com/nlohmann/json
[submodule "Engine/AssetImporter/ThirdParties/assimp"]
	path = Engine/AssetImporter/ThirdParties/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/ThirdParties/PhysX"]
	path = Engine/ThirdParties/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
[submodule "Engine/ThirdParties/emscripten"]
	path = Engine/ThirdParties/emscripten
	url = https://github.com/emscripten-core/emsdk.git
